/*用户名位置调整*/
.jinsom-post-words .header .info {
    float: left;
    width: auto;
}
.jinsom-post-words .header .info .name {
    margin-bottom: 2vw;
    overflow: visible;
    white-space: nowrap;
    width: 70vw;
}
/*评论图标位置调整*/
.jinsom-post-words .footer a {
    color: #888;
    margin-left: 7vw;
}

/*海报*/
.jinsom-content-playbill .footer {
    float: right;
    margin-top: -41vw;
    margin-right: 2vw;
}
.jinsom-content-playbill {
    background-color: #F9F9F9;
}
.jinsom-content-playbill-header {
    border-radius: 3vw 3vw 0 0;;
}
.jinsom-content-playbill {
    border-radius: 3vw;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.10);
}
/*H3帖子标签样式变更*/
.jinsom-post-single-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 18px 0;
    border-bottom: 1px solid #eaeaea;
    padding-left: 26px;
}
.jinsom-post-single-content h3:before {
    position: absolute;
    left: 1em;
    display: block;
    content: '##';
    color: #f72d84;
}
/*个人资料二维码*/
.jinsom-publish-type-form.profile-qrcode .tips{margin-top: -18vw;padding-bottom: 11.5vw;}
.jinsom-publish-type-form.profile-qrcode #jinsom-qrcode{padding: 80px 0;background-color: #fff;border-radius: 15px;margin: 0 15px;}

/*H4*/
.jinsom-post-single-content h4 {font-size: 18px;font-weight: 700;margin: 25px 0 20px;border-left: 4px solid #f72d84;padding: 0 0 0 10px;line-height: 17px;}
/*弹出发布*/
.jinsom-publish-type-form { bottom: 20px; height:auto; top: auto; background: none; text-align: center; }
.jinsom-publish-type-form .bottom { background: #fff; width: 90%; margin: 0 auto; overflow: hidden; border-radius:0 0 15px 15px; position: initial; }
.jinsom-publish-type-form .ad {padding: 10px 0; background: #fff; width: 90%; margin: 0 auto -1px;border-radius: 15px 15px 0 0; }
.jinsom-publish-type-form .close a { height: auto; line-height: initial; color: #fff; width: 0; border-width: 20px 20px 0; border-style: solid; border-color: #fff transparent transparent; }
.jinsom-publish-type-form .close {position: initial; margin-top: -1px;}
.jinsom-publish-type-form .close a i { display: none; }
.jinsom-publish-type-form .page-content { background: none;}
.popup.jinsom-publish-type-form.modal-in .page-content { padding: 0; }
.popup.jinsom-publish-type-form.modal-in { bottom: 60px; }
.jinsom-bbs-publish-icon { bottom: 3vw; }
.modal-overlay, .picker-modal-overlay, .popup-overlay, .preloader-indicator-overlay {background: rgba(0,0,0,.7);}
/*机器人*/
.jinsom-honor-机器人 {
    background: rgba(255, 0, 0, 0) !important;
    text-indent: -9999px !important;
    position: relative;
    border: none !important;
    font-size: 0;
}
.jinsom-honor-机器人:before {
    display: block;
    content: '';
    width: 26px;
    height: 26px;
    background-size: 26px;
    background-repeat: no-repeat;
    background-image: url(https://img.zzn.me/2021/01/2021011021391912.png);
    position: absolute;
    top: -16px;
    left: 0;
}