.jinsom-bbs-single-download-content {
    min-height: inherit;
}
.jinsom-bbs-single-download-content>.content {
    min-height: 300px;
}
/*去除空白*/
.jinsom-menu-fixed {padding-top: 50px!important;}
/*页脚美化*/
.friends-link{background: #313131;color: #a4a4a4;padding-top: 10px;}
.friends-link h3{line-height: 30px;height: 30px;font-size: 15px;margin-bottom: 11px;}
.container{width: 1200px;margin: 0 auto;}
.friends-link h3{line-height: 30px;height: 30px;font-size: 15px;margin-bottom: 11px;}
.friends-link ul{padding: 9px 21px;padding-bottom: 0;background: #424242;border-radius: 5px;width: 1154px;}
.friends-link li{float: left;margin-right: 20px;margin-bottom: 9px;}
.friends-link li a{display: block;color: #bebebe;line-height: 30px;height: 30px;font-size: 14px;}
.layui-clear:after{content: '\20';clear: both;*zoom: 1;display: block;height: 0;}
footer{width: 100%;padding: 19px 0;background: #313131;}
footer .left{width: 100%;color: #a4a4a4;}
.fl, .left{float: left;}
footer .left p{line-height: 30px;font-size: 14px;color: #a4a4a4;float: right;}
footer .left ul{margin-top: 22px;border-top: 1px solid #4b4b4b;padding-top: 15px;}
footer .left ul li{float: left;margin-right: 21px;}
footer .left ul li a{display: block;color: #a4a4a4;font-size: 14px;height: 32px;line-height: 32px;}
/*全站颜色变更*/
.jinsom-topic-list li .follow{background-color: #2581ff; border: 1px solid #2581ff;}
.jinsom-ranking-page-bottom li:hover,.jinsom-show-bbs-box-content li:hover,.jinsom-credit-recharge-type li.credit{border: 1px solid #2581ff;}
.jinsom-preference-list li.on,.jinsom-preference-list li:hover{border: 2px solid #2581ff;}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{border-bottom: 2px solid #2581ff;}
.jinsom-sidebar-reg-btn,.layui-form-checked[lay-skin=primary] i{background-color: #2581ff; border-color: #2581ff;}
.jinsom-notice-content li a.name,.jinsom-sidebar-user-info-sign-btn.had,.jinsom-preference-content .toggle n,.jinsom-right-bar li:hover,.layui-laypage a:hover,.jinsom-notice-title li.on:nth-child(1) i,.jinsom-publish-words-bar span.comment .ok, .jinsom-single-edior-footer-bar span.comment .ok,.layui-tab-brief>.layui-tab-title .layui-this,.jinsom-reprint-check n,.jinsom-footer-top>li>ul>li>a:hover,.jinsom-member-menu li:hover,.layui-form-radio>i:hover, .layui-form-radioed>i,.jinsom-login-page-form .social .qq{color: #2581ff;}
.jinsom-notice-title li.on:after,.jinsom-bbs-box-header .left li.on,.jinsom-member-menu li.on:after{border-bottom: 2px solid #3096e8;}
.layui-laypage .layui-laypage-curr .layui-laypage-em{background-color: #2581ff!important;}
.layui-layer-hui{background-color: #2581ff!important;border-radius: 5px!important;}
.jinsom-pop-search-content span,.jinsom-case-menu li.on, .jinsom-case-menu li:hover,.jinsom-case-menu li.join,.jinsom-comments-btn,.jinsom-login-btn span{background: #2581ff;}
.jinsom-update-bbs-setting-btn,.jinsom-info-card .btn .follow,.jinsom-reprint-btn,.jinsom-btn,.jinsom-show-bbs-content .left .layui-carousel-ind li.layui-this,.jinsom-show-bbs-box-content li:hover .bottom a,.jinsom-menu ul li ul li:hover,.jinsom-credit-recharge-btn, .jinsom-send-gift-btn,.layui-layer-hui,.jinsom-honor,.jinsom-header-menu-avatar>ul li:hover a,.jinsom-publish-words-btn .publish,.jinsom-bbs-list-1 .right h1 a span,.jinsom-bbs-post-type-answer.ok,.layui-form-select dl dd.layui-this,.jinsom-setting-btn,.jinsom-mycredit-credit-type .recharge,.jinsom-sidebar-follow-btn.no,#jinsom-bbs-publish-btn,.jinsom-bbs-header-publish-btn,.jinsom-ranking-page .left li.on,.jinsom-ranking-page-top li .btn .follow,.jinsom-ranking-page .left li:before,.jinsom-ranking-page .left li:after,.jinsom-sidebar-user-info-sign-btn,.jinsom-profile-bg-music span,.jinsom-info-card .btn span,.jinsom-topic-publish-btn,.jinsom-content-sort>li.on,.jinsom-login-page-form .btn{background-color: #2581ff;}
.layui-form-onswitch{border-color: #2581ff; background-color: #2581ff;}
.jinsom-sidebar-user-info-sign-btn.had span,.jinsom-login-page-form .left input{border: 1px solid #2581ff; color: #2581ff;}
.jinsom-show-bbs-box-header .name,.jinsom-member-left-visitor h3, .jinsom-member-left-profile h3, .jinsom-member-left-bg-music h3, .jinsom-member-left-gift h3,.jinsom-sidebar-box h3{border-left: 3px solid #2581ff;}
.jinsom-credit-recharge-number li:hover, .jinsom-credit-recharge-number li.on, .jinsom-send-gift-form li:hover, .jinsom-send-gift-form li.on{border-color: #2581ff;}
.jinsom-credit-recharge-number li n, .jinsom-send-gift-form li n,.jinsom-credit-recharge-type li.credit n{border-top: 25px solid #2581ff;}
.layui-layer-btn .layui-layer-btn0 {border-color: #2581ff!important;background-color: #2581ff!important;}.jinsom-exp-icon {color: #fff;}
/*导航高斯模糊*/
.jinsom-header {
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(20px);
}
/*设置偏好默认背景*/
body{background: url(https://cdn.jsdelivr.net/gh/wenjiu9420/css/piaohao/style-2/bg.png) 50% 50% fixed repeat !important;overflow: auto!important;}
/*H3帖子标签样式变更*/
.jinsom-bbs-single-content h3 {font-size: 18px;font-weight: bold;margin: 10px 0;border-bottom: 1px solid #eaeaea;padding-left: 26px;}
.jinsom-bbs-single-content h3:before {position: absolute;left: 0em;display: block;content: '##';color: #f72d84;}
.jinsom-bbs-single-download-content H3 {font-size: 18px;font-weight: bold;margin: 10px 0;border-bottom: 1px solid #eaeaea;padding-left: 26px;}
.jinsom-bbs-single-download-content h3:before {position: absolute;left: 0.6em;display: block;content: '##';color: #f72d84;}
/*H3文章标签样式变更*/
.jinsom-single-content h3 {font-size: 18px;font-weight: bold;margin: 10px 0;border-bottom: 1px solid #eaeaea;padding-left: 26px;}
.jinsom-single-content h3:before {position: absolute;left: 1em;display: block;content: '##';color: #f72d84;}
/*论坛子分类*/
.jinsom-bbs-cat-list li,.jinsom-bbs-cat-list li .right {width: 105px;height: auto;padding: 0;background: none;margin-bottom: 0;}
.jinsom-bbs-cat-list li:hover{background: none;}
.jinsom-bbs-cat-list li:nth-child(2n) {margin-right: 15px;}
.jinsom-bbs-cat-list li .left,.jinsom-bbs-cat-list li .right .desc {display: none;}
.jinsom-bbs-cat-list li .right .name span {padding: 0 5px;border-radius: 10px;vertical-align: 0;min-width: auto;}
.jinsom-bbs-cat-list li .setting {right: 1px;top: 1px;}
/*注册以及登陆按钮*/
.jinsom-sidebar-reg-btn,.jinsom-login-btn span:last-child,.jinsom-login-btn span:first-child,.jinsom-pop-login-form li.code input.jinsom-get-code {border-radius: 5px;background-color: #ec2546;}
.jinsom-sidebar-login-btn,.jinsom-login-btn span.login{border-radius: 5px;background-color: #2581ff;}
/*搜索页面简单修改*/
.jinsom-header-right .search i {color: #f44336;}
.jinsom-pop-search-content span {color: #fff;cursor: pointer;line-height: 42px;font-size: 20px;border-radius: 0 3px 3px 0;background-color: #fff;padding: 0 15px;}
.jinsom-pop-search-content span{background: #000;box-shadow: 0 3px 10px -1px #000!important;}
.jinsom-pop-search-bbs .list li {text-align: left;margin-right: 8px;}
.jinsom-pop-search-content input {border: 1px solid #eee;}
.jinsom-pop-search.show {background: linear-gradient(to right bottom, #ffffff, #f6f6f6);width: 1000px;box-shadow: 0px 0px 0px 1500px rgba(0, 0, 0, 0.3);height: 680px;top: 120px;left: 24%;border-radius: 8px;transition-property: top;transition-duration: 0.8s;}
.jinsom-search-header span {background: #000;box-shadow: 0 3px 10px -1px #000!important;color: #fff;}
.jinsom-search-header input {border: 1px solid #eee;}
.jinsom-pop-search .close {display: none;}


/*充值提现*/
.jinsom-mycredit-credit-type .recharge {
background: #2c63ff!important;box-shadow: 0 3px 10px -1px #2c63ff!important;}
.jinsom-mycredit-credit-type .withdrawals {background-color: #fa9e3b;box-shadow: 0 3px 10px -1px #fa9e3b!important;}
/*发表排序按钮美化*/
.jinsom-bbs-header-info-btn .chat {
background: linear-gradient(-125deg,#0295f9 0%, #2f49fd 100%);box-shadow: 0 3px 10px -1px #2c63ff!important;}
.jinsom-bbs-header-publish-btn {
background: linear-gradient(-125deg,#0295f9 0%, #2f49fd 100%);box-shadow: 0 3px 10px -1px #2c63ff!important;}
.jinsom-bbs-box-header .left li.on {background: linear-gradient(-125deg,#0295f9 0%, #2f49fd 100%);box-shadow: 0 3px 10px -1px #2c63ff!important;}
.jinsom-comments-btn {background: linear-gradient(-125deg,#0295f9 0%, #2f49fd 100%);box-shadow: 0 3px 10px -1px #2c63ff!important;}
/*关注按钮美化*/
.jinsom-bbs-header-info-btn .follow {background: linear-gradient(90deg,#d6283899 0,#e00d0d 100%);box-shadow: 0 3px 10px -1px #e00d0d!important;}
.jinsom-bbs-single-header-info .follow {background: linear-gradient(90deg,#d6283899 0,#e00d0d 100%);box-shadow: 0 3px 10px -1px #e00d0d!important;}

/*帖子发布按钮*/
.jinsom-publish-words-btn .cancel {background: #c6c6c6!important;box-shadow: 0 3px 10px -1px #c6c6c6!important;}
.jinsom-publish-words-btn .publish, #jinsom-bbs-publish-btn {background: #2c63ff!important;box-shadow: 0 3px 10px -1px #2c63ff!important;}
/*隐藏内容美化*/
.jinsom-hide-content:before {position: absolute;right: 0;content: "\9690\85cf\5185\5bb9";background-color: #ff5e52;color: #fff;line-height: 1;padding: 10px 10px;font-size: 12px;border-radius: 0 0 2px 0;margin: -3px 10px 0px 10px;}
.jinsom-hide-content {padding: 10px 0 10px 10px;margin: 15px 0 13px;background: #f1f1f1;display: block;border: solid 2px #ababab;border-style: dashed;color: #b52020;}
/*侧边任务美化*/
.jinsom-right-bar>li>.title {top: 17px;border-radius: 15px;background-color: #fb5461;right: 50px;}
i.jinsom-icon.jinsom-renwu1{color:#ed4040;}
.jinsom-right-bar {right: 8%;}
.jinsom-right-bar>li>i {background-attachment: scroll;background-clip: border-box;background-color: rgb(255, 255, 255);background-position-x: 6px;background-position-y: 3px;background-size: 80px;border-bottom-left-radius: 26px;border-bottom-right-radius: 26px;border-top-color: rgb(238, 238, 238);border-top-left-radius: 26px;border-top-right-radius: 26px;border-top-style: solid;border-top-width: 1px;box-shadow: rgb(214, 214, 214) 0px 5px 12px 0px;box-sizing: border-box;cursor: pointer;display: block;font-size: 20px;font-stretch: 100%;font-style: normal;font-variant-caps: normal;font-variant-east-asian: normal;font-variant-ligatures: normal;font-variant-numeric: normal;font-weight: 400;height: 50px;line-height: 48px;outline-color: rgb(255, 255, 255);outline-style: none;outline-width: 0px;overflow-x: hidden;overflow-y: hidden;text-align: center;text-decoration-color: rgb(255, 255, 255);text-decoration-line: none;text-decoration-style: solid;text-size-adjust: 100%;width: 50px;z-index: auto;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.jinsom-right-bar>li {background-color: transparent;}
i.jinsom-icon.jinsom-yingyong3 {color: #ed4040;}
/*论坛红点*/
.jinsom-menu>ul>li k {width: 5px;height: 5px;display: inline-block;background-color: #F44336;border-radius: 100%;position: absolute;top: 12px;}

.jinsom-right-bar>li>.title.cebian_more {font-size: 16px;width: 120px;top: -65px;height: auto;background: #fff;box-shadow: 0 1px 3px rgba(26,26,26,.3);}
/*工具条弹出*/
.jinsom-widget-share .social li {margin-right: 0;width: calc(100%/4);text-align: center;}/*小工具分享图标*/
li.setting {display: none;}
/*阿里图标*/
.icon {width: 1.3em;height: 1.2em;vertical-align: -0.2em;fill: currentColor;overflow: hidden;}
/*加载更多*/
.jinsom-more-posts {background: #2c63ff!important;box-shadow: 0 3px 10px -1px #2c63ff!important;text-align: center;flex: 1;padding: 10px;color: #fff;cursor: pointer;width: 400px;border-radius: 26px;}

/*个人中心*/
.jinsom-member-header {height:150px;border-radius:var(--jinsom-border-radius);margin-bottom:20px;position:relative;background-size:cover;background-position:50%;transition:background-image .2s ease,background-size 1s ease;position:relative;}
.jinsom-member-avatar {float:left;margin:20px;}
.jinsom-member-username {padding-top:45px;}
.jinsom-member-username,.jinsom-member-desc {text-align:left;color:#333;text-shadow:none;}
.jinsom-member-username,.jinsom-member-desc {color:#fff;}
.jinsom-member-username h1 {font-size:20px;display:inline-flex;font-weight:normal;margin-right:-2px;overflow:hidden;vertical-align:-2px;}
.jinsom-member-follow-info .follow.no {background:#f25d8e;box-shadow:0 0 0 2px #fff;color:#fff;}
.jinsom-member-follow-info {text-align:right;margin-top:-35px;}
.jinsom-member-follow-info span {background:rgba(0,0,0,.45);box-shadow:0 0 0 2px hsla(0,0%,100%,.3);border-radius:4px;color:#fff;cursor:pointer;display:inline-block;font-size:14px;text-align:center;margin:0 20px 17px 0;}
.jinsom-member-follow-info span:last-child {background-color:#00000073;}
/*个人中心*/
.jinsom-bbs-single-content p {line-height: 2.0;}

/*首页消息提示红点闪烁*/
#jinsom-notice>span{animation: pulses 2s infinite !important;}
@-webkit-keyframes pulses {
  0% {
      opacity:1
  }
  50% {
      opacity:0.2
  }
  100% {
      opacity:1
  }
}
@keyframes pulses {
  0% {
      opacity:1
  }
  50% {
      opacity:0.2
  }
  100% {
      opacity:1
  }
}
/*首页消息提示红点闪烁*/
/*LS+*/
a[href$="author/1"] font,
a[href$="author/1"] .name font
{padding:0 3px 0 0;border:1px #f85959 solid;border-radius:3px;font-size:12px;position: relative;overflow: hidden;display: inline-table;line-height: 16px;}
a[href$="author/1"] font:before,
a[href$="author/1"] .name font:before
{position:relative;margin-right:3px;padding:3px;background:#f85959;color:#fff;content:"官方";font-size:12px;border-radius: 1px 0 0 1px;left: -1px;}
.jinsom-notice-content li a,.jinsom-member-left-visitor a font:before,.jinsom-sidebar-lattice-list a font:before,.jinsom-member-left-visitor a .name font:before,
.jinsom-sidebar-lattice-list a.name font:before,#jinsom-plugin-barrage li a font:before,#jinsom-plugin-barrage li a font
{max-width: unset!important;content: unset!important;border: unset!important;}
.jinsom-member-left-visitor a[href$="author/1"] font,
.jinsom-sidebar-lattice-list a[href$="author/1"] font,
.jinsom-member-left-visitor a[href$="author/1"] .name font,
.jinsom-sidebar-lattice-list a[href$="author/1"] .name font
{padding: initial!important;border: initial!important;border-radius: initial!important;font-size: inherit!important;position: initial!important;}
/*LS+*/
/*全局加载淡入效果*/
.jinsom-header~div:not(.layui-layer-shade):not(.layui-layer-move):not(.layui-layer), .jinsom-posts-list {-webkit-animation: myqzsns .4s;animation: myqzsns .4s;}
@-webkit-keyframes myqzsns {from {opacity: 0;}to {opacity: 1;}}
@keyframes myqzsns {from {opacity: 0;}to {opacity: 1;}
}

/*评论框添加背景图*/
.jinsom-post-comments{background-image: url(https://cdn.jsdelivr.net/gh/wenjiu9420/css/pingluntu/pingluntu.png);background-repeat: no-repeat;background-position: center center;}

.edui-default .edui-editor {
    background-image: url(https://cdn.jsdelivr.net/gh/wenjiu9420/css/pingluntu/pingluntu.png);
    background-repeat: no-repeat;
    background-position: center center;
}
/*SNS首页菜单美化*/
.jinsom-index-menu li.on, .jinsom-index-menu li:hover {
    transform: translateX(3px);
    -webkit-box-shadow: 0 1px 8px #000;
    transition: all 0.3s ease 0s;
}
/*H4*/
.jinsom-single-content h4 {font-size: 18px;font-weight: 700;margin: 25px 0 20px;border-left: 4px solid #f72d84;padding: 0 0 0 10px;line-height: 17px;padding-top: 0 !important;margin-top: 2.93% !important;}
.jinsom-bbs-single-content h4 {font-size: 18px;font-weight: 700;margin: 10px 0 10px;border-left: 4px solid #f72d84;padding: 0 0 0 10px;line-height: 17px;}
.jinsom-single-content p {line-height: 2;}
.jinsom-bbs-single-download-content H4{font-size: 18px;font-weight: 700;margin: 25px 0 20px;border-left: 4px solid #f72d84;padding: 0 0 0 10px;line-height: 17px;}

/*下载按钮美化*/
.jinsom-file-download .btn{display:block;width:132px;height:50px;background-image:linear-gradient(#268aef,#268aef),linear-gradient(lime,#0f0);background-blend-mode:normal,normal;border-radius:4px;line-height:50px;position:relative;color:#fff;font-size:16px;text-align:center;text-decoration: none}
.jinsom-file-download .btn i{color:#fff;margin-right:10px}
.jinsom-file-download .btn:after{content:"立 即 下 载";color:#fff}
.jinsom-file-download .btn:hover {background-image: linear-gradient(0deg, #4fb5f1 0%, #398def 100%), linear-gradient(lime, lime);}
/*下载页面*/
.jinsom-main-content.single-bbs.download .jinsom-bbs-content-header-nav {background-color: #fff;padding: 12px;margin-bottom: 10px;border-radius: var(--jinsom-border-radius);color: #999;}
.jinsom-main-content.single-bbs.download .jinsom-bbs-content-header-nav a {color: #2279e7;font-size: 15px;}
.jinsom-bbs-single-download-title {background-color: #fff;padding: 12px;margin-bottom: 10px;border-radius: var(--jinsom-border-radius);}
.jinsom-bbs-download-relate>.title {margin-bottom: 20px;background-color: #fff;padding: 12px;border-radius: var(--jinsom-border-radius);}
.jinsom-main-content.single-bbs.download .jinsom-bbs-content-header-nav {font-size: 15px;}
.jinsom-bbs-single-download-title {width: calc(100% - 25px);}
.jinsom-bbs-single-download-content p {line-height: 2.0;}
/*头衔-2021*/
@keyframes yxyh2021{0%{transform: rotate(-4deg);}50%{transform: rotate(4deg);}100%{transform: rotate(-4deg);}}
@-webkit-keyframes yxyh2021{0%{-webkit-transform: rotate(-4deg);}50%{-webkit-transform: rotate(4deg);}100%{-webkit-transform: rotate(-4deg);}}
.jinsom-honor-2021 {
    background: url(https://cdn.jsdelivr.net/gh/wenjiu9420/css/touxian/2021.png)!important;
    background-size: 100% 100%!important;
    width: 55px;
    color: rgb(255 0 0 / 0%);
    animation-name: yxyh2021;
    -webkit-animation-name: yxyh2021;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
/*导航焦点颜色*/
.jinsom-menu ul li a {
    font-size: 14px;
    color: #000;
}
.jinsom-menu ul li.current-menu-item a {
    color: #ff0036;
}

.jinsom-posts-list:hover h2 a {
	color: #fd5663;
	transition: all .4s ease;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
/*主页美化*/
.normal:hover h2 a:before,
.single:hover h2 a:before {
	content: "";
	position: absolute;
	background: #fd5663;
	/*颜色*/
	height: 2px;
	/*下划线粗度*/
	width: 100%;
	left: 0px;
	top: 55px;
	animation: menuas 0.4s ease-out;
	/*动画时长*/
}

/*滑出动画*/
@keyframes menuas {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

.jinsom-posts-list {
	box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .05);
	transition: all .3s cubic-bezier(0.43, 0.02, 0.25, 1);
}

.jinsom-posts-list:hover {
	box-shadow: 0px 8px 20px 0px #8a8a8a36;
	transition: all .3s cubic-bezier(0.43, 0.02, 0.25, 1);
}
/*机器人*/
.jinsom-honor-机器人 {
    background: rgba(255, 0, 0, 0) !important;
    text-indent: -9999px;
    position: relative;
    border: none !important;
    width: 26px;
    box-sizing: border-box;
}
.jinsom-honor-机器人:before {
    display: block;
    content: '';
    width: 26px;
    height: 26px;
    background-size: 26px;
    background-repeat: no-repeat;
    background-image: url(https://img.zzn.me/2021/01/2021011021391912.png);
    position: absolute;
    top: -5px;
    left: 0;
} 
.jinsom-member-left-honor li.jinsom-honor-机器人:before {
    top: 0;
}
/*话题页面改造开始*/
.jinsom-show-topic-content ul{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0) !important;
    border-bottom-style: none;
}
.jinsom-topic-list li {
    box-shadow: -1px 3px 21px -5px rgb(7 17 27 / 19%);
    height: 250px;
    padding: 0px 10px;
    margin-top: 10px;
}
.jinsom-topic-list li:hover {
    box-shadow: 0 20px 40px rgb(0 0 0 / 18%);
}
.jinsom-topic-list li .images {
    margin: 15px 0 5px;
}
 
.jinsom-topic-list li .images img {
    width: 45px;
    height: 45px;
    border-radius: 32px;
}
.jinsom-topic-list li:hover .name {
    color: #f44336;
    font-weight: bold;
}
.jinsom-topic-list li .name {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.jinsom-topic-list li .info {
    display: flex
}
.jinsom-topic-list li hr {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #e2e2e2;
}
.jinsom-topic-header-bg {
    filter: blur(1px)
}
.jinsom-topic-header-main {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.72)
}
.jinsom-topic-list li .follow.had {
    display: none;
}
.jinsom-topic-list li .follow {
    display: none;
}
.jinsom-topic-list li:hover .follow.had {
    border: 1px solid rgba(150, 150, 150, 0.6);
    background: none;
    color: #8c8c8c;
    margin: -155px 0px 0px 0px;
    float: right;
}
.jinsom-topic-list li:hover .follow {
    border-radius: 6px;
    color: #fff;
    background-color: #10000be9;
    width: 59px;
    padding: 3px 0;
    font-size: 5px;
    border: 1px solid #10000be9;
    cursor: pointer;
    margin: -155px 0px 0px 0px;
    float: right;
}

.jinsom-single-topic-list {margin-left: 0;}
/*话题页面改造结束*/
/*代码高亮*/
.syntaxhighlighter td.gutter .line {padding: 0 0.5em 0 0!important;background-color: #e2e2e2!important;}
.syntaxhighlighter td.code .line {line-height: 24px !important;font-size: 14px !important;}
.syntaxhighlighter td.gutter .line{line-height: 24px !important;font-size: 14px !important;}
.syntaxhighlighter {border: 1px dashed #ccc!important;border-radius: 0!important;border-left: 5px solid #f97794!important;}
.syntaxhighlighter .gutter{background-color: #e2e2e2!important;}

/*首页-媒体格子底部-自定义内容*/
.yxyh1230a { width: var(--jinsom-width); margin: 0px auto 0; overflow: hidden; }
.yxyh1230a a { float: left; height: 30px; width: calc((100% - 30px)/4); box-sizing: border-box; cursor: pointer; position: relative; overflow: hidden; margin-right: 10px; margin-top: 10px; background: #4CAF50; text-align: center; line-height: 30px; color: #fff;border-radius: var(--jinsom-border-radius); }
.yxyh1230a a:nth-child(2) { background: #FFC107;}
.yxyh1230a a:nth-child(3) { background: #2196F3;} 
.yxyh1230a a:nth-child(4) { margin-right: 0; background: #F44336;}
.yxyh1230a a:hover{opacity: 0.8;}
@media (max-width: 1360px){.adssa { width: 1080px;}}
@media (max-width: 1200px){.adssa { width: 1000px;}}

.jinsom-main-content.navs{min-height: auto;display: flex;}
.navs .n-list{}
.navs .n-list.nav-ico{display: flex;padding-right: 20px;flex: 0.8;}
.navs .n-list.nav-ico a{text-align: center;flex: 1;}
.navs .n-list.nav-ico i{background: #fcba2a;color: #fff;padding: 10px;border-radius: 50%;font-size: 2em;margin-bottom: 5px;}
.navs .n-list.nav-ico p{}
.navs .n-list.nav-tag{flex: 2;padding: 0 20px;border-left: 1px solid #eee;border-right: 1px solid #eee;}
.navs .n-list.nav-tag p{display: flex;line-height: 35px;}
.navs .n-list.nav-tag a{flex: 1;}
.navs .n-list.nav-tag em{font-style: normal;display: inline-block;font-size: 12px;background: #ff5555;color: #fff;border-radius: 10px;transform: scale(.85);text-align: center;padding: 0 5px;line-height: initial;}
.navs .n-list.nav-txt{flex: 1;padding-left: 20px;}
.navs .n-list.nav-txt p{display: flex;line-height: 35px;}
.navs .n-list.nav-txt a{flex: 1;}
.navs .n-list.nav-txt i{font-size: 1.4em;margin-right: 5px;}
.navs .n-list.nav-txt span{}
.navs .n-list.nav-txt span:hover{}
.jinsom-main-content {padding-bottom: 1px;}
/*表情包大小更改*/
.jinsom-smile-form {width: 585px;min-height: auto;}
.jinsom-smile-img {width: 36px;height: 36px;}
img.wp-smiley {width: 36px !important;height: 36px !important;max-height: 36px !important;}
